/*----------------------------------------
 * Hero
 *----------------------------------------*/
.hero {
    padding: $hero-padding;
    width: 100%;

    &.thinned {
        padding: thinned($hero-padding);
    }

    &.thickened {
        padding: thickened($hero-padding);
    }

    &.loading::after {
        @include setLoadingSize("50px", "4px");
    }
}