/*----------------------------------------
 * Positioning
 *----------------------------------------*/
@mixin fixed(){
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $fixed-z-index;

    &.scrollable {
        max-height: 100vh;
        overflow: auto;
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.fixed {
    @include fixed();
}

.static {
    position: static;
}

@each $name, $query in $mediaQueries {
    @media (max-width: $query) {
        .fixed-#{$name} {
            @include fixed();
        }

        .static-#{$name}{
            position: static;
        }

        .sticky-#{$name}{
            position: sticky;
            top: 0;
        }
    }
}

