/*----------------------------------------
 * Segment
 *----------------------------------------*/
.segment {
    position: relative;
    padding: $segment-padding;
    box-shadow: $segment-box-shadow;
    background-color: $segment-bg;

    &.thinned {
        padding: thinned($segment-padding);
    }

    &.thickened {
        padding: thickened($segment-padding);
    }

    hr {
        margin: $segment-padding 0;
        border-top: $segment-hr;
    }
}

@each $name, $color in $darkColors {
    .segment.#{$name} {
        hr {
            border-color: lighten($color, 15%);
        }

        &:not(.inset){
            box-shadow: 0 0 0 1px rgba(darkToDarker($color),.15), 0 2px 3px rgba(darkToDarker($color), .2);
        }

        &.light {
            hr {
                border-color: rgba(darkToDarker($color),.1);
            }
        }
    }
}