/*----------------------------------------
 * Form
 *----------------------------------------*/
.form {
    font-size: $form-font-size;

    .columns {
        padding-right: $form-columns-padding-right;

        .column {
            padding-top: 0;
            padding-right: 0;
        }
    }
}

