/*----------------------------------------
 * Inputs
 *----------------------------------------*/
@mixin allInputs($elementState){
    input[type=password]#{$elementState},
    input[type=email]#{$elementState},
    input[type=url]#{$elementState},
    input[type=date]#{$elementState},
    input[type=month]#{$elementState},
    input[type=time]#{$elementState},
    input[type=datetime]#{$elementState},
    input[type=datetime-local]#{$elementState},
    input[type=week]#{$elementState},
    input[type=tel]#{$elementState},
    input[type=color]#{$elementState},
    input[type=number]#{$elementState},
    input[type=search]#{$elementState},
    input[type=text]#{$elementState},
    select#{$elementState},
    textarea#{$elementState} {
        @content;
    }
}

label {
    display: block;
    margin: $label-margin;
    font-weight: bold;
}

@include allInputs(''){
    margin: $input-margin;
    outline: 0;
    padding: $input-padding;
    border: $input-border;
    border-radius: 0;
    box-shadow: $input-box-shadow;
    transition: $input-transition;

    &:not(.inline){
        width: 100%;
    }

    &::-webkit-input-placeholder {
        color: $input-placeholder-color;
    }

    &:last-child {
        margin: 0;
    }

    &:focus {
        border-color: $input-focus-border-color;
    }

    &.error {
        background: $input-error-bg;
        border-color: $input-error-border-color;
        color: $input-error-color;

        &::-webkit-input-placeholder {
            color: rgba($input-error-color, .75);
        }

        &:focus {
            border-color: darken($input-error-border-color, 10%);
        }
    }

    &:disabled {
        background-color: $input-disabled-bg;
    }
}