/*----------------------------------------
 * Buttons
 *----------------------------------------*/
.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
	
	&:focus {
	    outline: none;
	}

    &:disabled {
        cursor: not-allowed;
    }

    &.loading {
        content: "";
        cursor: not-allowed;
        color: transparent;
        user-select: none;

        &:after {
            position: absolute;
            left: calc(50% - (1em / 2));
            top: calc(50% - (1em / 2));
            animation: spinAround .5s infinite linear;
            border: 2px solid #FFF;
            border-radius: 100%;
            border-right-color: transparent;
            border-top-color: transparent;
            content: "";
            display: block;
            height: 1em;
            width: 1em;
        }
    }

    @include standardHoverEffect();
}

@each $name, $color in $darkColors {
    .button-#{$name}{
        @extend .button;
        background-color: $color;
        color: $white;

        &:disabled {
            background-color: lighten($color, 25%);
        }

        &:hover:not(:disabled):not(.loading) {
            background-color: darken($color, 8%);
            color: $white;
        }

        &.outlined {
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid $color;
            color: $color;
            font-weight: bold;
            @include standardHoverEffect();

            &.loading {
                content: "";
                cursor: not-allowed;
                color: transparent;

                &:after {
                    border: 2px solid $color;
                    border-right-color: transparent;
                    border-top-color: transparent;
                }
            }

            &:hover:not(:disabled):not(.loading) {
                background-color: $color;
                color: $white;
            }

            &:disabled {
                border: 2px solid lighten($color, 25%);
                color: lighten($color, 25%);
            }
        }
    }
}

@each $name, $color in $lightColors {
    .button-#{$name}{
        @extend .button;
        background-color: $color;
        color: $black;

        &:disabled {
            background-color: darken($color, .5);
        }
    }
}

@keyframes spinAround {
    from {
        transform: rotate(0);
    } to {
        transform:rotate(359deg);
    }
}