/*----------------------------------------
 * Menu
 *----------------------------------------*/
.menu {
    position: relative;
    display: flex;
    font-weight: lighter;

    &:not(.vertical){
        flex-wrap: wrap;
    }

    &.fixed {
        position: fixed;
        top: 0;
        z-index: 9999;
        max-height: 100vh;
        overflow: auto;
    }

    .menu-item {
        cursor: pointer;
        font-weight: lighter;
        padding: 16px;
        margin: 0;

        &:hover,
        &:active,
        &.active {
            background-color: #eee;
        }

        &.effectless {
            cursor: default;

            &:hover,
            &:active {
                background-color: inherit!important;
            }
        }

        &.grow {
            flex-grow: 1;
        }
    }

    &.vertical {
        flex-direction: column;
    }

    &.inline {
        display: inline-flex;
    }

    > a {
        @extend .menu-item;
    }

    a:hover {
        color: inherit;
    }

    &.right {
        flex-grow: 1;
        justify-content: flex-end;
    }

    &.center {
        flex-grow: 1;
        justify-content: center;
    }
}

@each $name, $query in $mediaQueries {
    @media (max-width: $query) {
        .vertical-#{$name}{
            flex-direction: column;
        }

        .inline-#{$name} {
            display: inline-flex;
        }

        .fixed-#{$name} {
            position: fixed;
            top: 0;
            z-index: 9999;
            max-height: 100vh;
            overflow: auto;
        }
    }
}

@each $name, $color in $darkColors {
    .menu.#{$name} {
        background-color: $color;
        color: #FFF;

        > a:hover,
        > a:active,
        > a.active,
        .menu-item:hover,
        .menu-item:active,
        .menu-item.active {
            background-color: darken($color, 10%);
            @if $name == black {
                background-color: lighten($color, 10%);
            }
        }
    }
}

@each $name, $color in $lightColors {
    .menu.#{$name} {
        background-color: $color;
        color: #000;

        > a:hover,
        > a:active,
        > a.active,
        .menu-item:hover,
        .menu-item:active,
        .menu-item.active {
            background-color: darken($color, 5%);
        }
    }
}