/*----------------------------------------
 * Columns
 *----------------------------------------*/
.columns {
    display: flex;
    flex-wrap: wrap;

    .column {
        padding: $divider3;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &.breakpoint {
        @each $name, $size in $mediaQueries {
            @media (max-width: $size) {
                &.#{$name}{
                    display: block;
                    .column {
                        width: inherit;
                    }
                }
            }
        }
    }
}

@for $i from 0 through 12 {
    .columns {
        .column-#{$i}{
            @extend .column;
            flex: none;
            width: 100% / 12 * $i;
        }

        @media (max-width: $mediaSmall) {
            .column-#{$i}{
                width: inherit;
            }

            &.unstackable,
            &.breakpoint {
                .column-#{$i}{
                    width: 100% / 12 * $i;
                }
            }
        }
    }
}

@media (max-width: $mediaSmall) {
    .columns:not(.unstackable):not(.breakpoint) {
        display: block;
    }
}