/*----------------------------------------
 * Positioning
 *----------------------------------------*/
@mixin fixed(){
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &.scrollable {
        max-height: 100vh;
        overflow: auto;
    }
}

.fixed {
    @include fixed();

    @each $name, $query in $mediaQueries {
        @media (max-width: $query) {
            &-#{$name} {
                @include fixed();
            }
        }
    }
}

