body {
    background-color: #f9f9f9;
}

#main-menu {
    min-height: 100vh;
}

@media (max-width: $mediaMedium) {
    body {
        padding-top: 48px;
    }

    #main-menu {
        width: 100%;
        min-height: inherit;
    }

    .columns .column {
        padding: 0;
    }
}
